flows (1).json
[{"id":"1933c1ac.f23f4e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e399994e.151a88","type":"ui_form","z":"1933c1ac.f23f4e","name":"","label":"","group":"7def4b8a.21b4b4","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":300,"wires":[["fdb9693d.93d9f8"]]},{"id":"fdb9693d.93d9f8","type":"function","z":"1933c1ac.f23f4e","name":"","func":"msg.payload= msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":220,"wires":[["3c72bf0b.22f38","d8e0c3e8.fa342"]]},{"id":"10568c87.c891b3","type":"function","z":"1933c1ac.f23f4e","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":220,"wires":[["ae31d58f.e95db8"]]},{"id":"3c72bf0b.22f38","type":"watson-conversation-v1","z":"1933c1ac.f23f4e","name":"Customer Care with Smart Document Understanding","workspaceid":"4b61a0d6-9c41-45fd-a70b-699ab7a3381e","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/a73177b3-2a67-4c3a-a3de-b2a3cc429c55","timeout":"","optout-learning":false,"x":620,"y":160,"wires":[["39609d18.b86d12","10568c87.c891b3"]]},{"id":"d8e0c3e8.fa342","type":"ui_text","z":"1933c1ac.f23f4e","group":"7def4b8a.21b4b4","order":2,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-left","x":400,"y":340,"wires":[]},{"id":"39609d18.b86d12","type":"debug","z":"1933c1ac.f23f4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":100,"wires":[]},{"id":"ae31d58f.e95db8","type":"ui_text","z":"1933c1ac.f23f4e","group":"7def4b8a.21b4b4","order":3,"width":16,"height":5,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":860,"y":340,"wires":[]},{"id":"7def4b8a.21b4b4","type":"ui_group","z":"","name":"Chatbot","tab":"ad5c2674.924b08","order":1,"disp":true,"width":16,"collapse":false},{"id":"ad5c2674.924b08","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]